.theme-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.theme-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.theme-button.light {
    background-color: #ffffff;
    border: 2px solid #000000;
}

.theme-button.dark-blue {
    background-color: #042743;
    border: 2px solid #ffffff;
}

.theme-button.dark-green {
    background-color: #101c11;
    border: 2px solid #ffffff;
}

.theme-button.maroon {
    background-color: #260602;
    border: 2px solid #ffffff;
}